In [2]:
import psycopg2

In [46]:
con = psycopg2.connect(database="movies", 
                       user="postgres", 
                       password="admin", 
                       host="postgres")
cursor = con.cursor()
print("Database opened successfully")

Database opened successfully

In [47]:
cursor.execute("""
DROP TABLE IF EXISTS ratings;
CREATE TABLE ratings (
  userid integer,
  movieid integer NOT NULL,
  rating integer,
  timestamp integer,
  PRIMARY KEY (movieid)
);

DROP TABLE IF EXISTS tags;
CREATE TABLE tags (
  userid integer,
  movieid integer,
  tag integer,
  timestamp integer,
  PRIMARY KEY (movieid)
);

DROP TABLE IF EXISTS movies;
CREATE TABLE movies (
  movieid integer,
  title integer,
  genres integer,
  PRIMARY KEY (movieid)
);

DROP TABLE IF EXISTS links;
CREATE TABLE links (
  movieid integer NOT NULL,
  imdbid integer,
  tmbdid integer,
  PRIMARY KEY (movieid)
);
""")
con.commit()

In [35]:
with open('data/links.csv', 'r') as f:
    # Notice that we don't need the `csv` module.
    next(f) # Skip the header row.
    cursor.copy_from(f, 'links', sep=',', null='')
con.commit()

In [39]:
cursor.execute("SELECT * FROM links")
one = cursor.fetchone()

In [40]:
one

(1, 114709, 862)

In [14]:
con.close()